@using Online_Shop.Models
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
}
<br />
<div class="row">
    <div class="col-6">
        <h1 class="text-info">User List</h1>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; New User</a>
    </div>
</div>

<div>
    <table class="table table-striped border" id="DT_load">
        <thead>
            <tr class="table-info">
                <th>Name</th>
                <th>Username</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.UserName</td>
                @if (item.LockoutEnd > DateTime.Now && item.LockoutEnd != null)
                {
                    <td>Inactive</td>
                    <td></td>
                    <td class="btn-group">
                        <a asp-action="Active" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                }
                else
                {
                    <td>Active</td>
                    <td>
                        <partial name="_ButtonPartialForUser" model="@item.Id" />
                    </td>
                }
            </tr>
            }
        </tbody>

    </table>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#DT_load').DataTable();
        });
        $(function () {
            var save = '@TempData["save"]'
            if (save != null && save != '') {
                if (save == "Delete") {
                    alertify.error('User has been Deleted Successfully');
                }
                else if (save == "Update") {
                    alertify.warning('User has been Updated Successfully');
                }
                else alertify.success(save);
            }

        })
    </script>
}
