@using Online_Shop.Models
@model IEnumerable<Products>
@{
    ViewData["Title"] = "Index";
}
<br />
<div class="row">
    <div class="col-6">
        <h1 class="text-info">Product List</h1>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; New Product</a>
    </div>
</div>

<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>@Html.DisplayNameFor(x => x.Name)</th>
            <th>@Html.DisplayNameFor(x => x.Price)</th>
            <th>@Html.DisplayNameFor(x => x.ProductColor)</th>
            <th>@Html.DisplayNameFor(x => x.ProductTypeId)</th>
            <th>@Html.DisplayNameFor(x => x.SpecialTagId)</th>
            <th>@Html.DisplayNameFor(x => x.isAvailable)</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.Name</td>
        <td>@item.Price</td>
        <td>@item.ProductColor</td>
        <td>@item.ProductTypes.ProductType</td>
        <td>@item.SpecialTags.SpecialTag</td>
        <td>@item.isAvailable</td>
        <td>
            <partial name="_ButtonProductTypePartial" model="@item.Id" />
        </td>
    </tr>
        }
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["save"]'
            if (save != null && save != '') {
                if (save == "Delete") {
                    alertify.error('Product Type has been Deleted');
                }
                else if (save == "Update") {
                    alertify.warning('Product Type has been Updated');
                }
                else alertify.success(save);
            }

        })
    </script>
}

